html,body{
    background-color: rgb(1, 1, 88);
    display: flex;
    flex:0 0 100%;
    height: 100%;
    width: 100%;
}
#qwe
{
    position: absolute;
    display: flex;
    flex: 0 0 100%;
    z-index: 20;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
#main
{
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    flex: 0 0 100%;
    box-sizing:initial;
}
#mnb
{
    text-align: center;
    font-size: x-large;
}
#zx
{
    display: flex;  
    flex-direction: row;
    justify-content:center;
}
#particles-js{
    position: relative;
    left: 0%;
    top: 0%;
    z-index: 10;
    display: flex;
    flex: 0 0 100%;
    height: 100%;
    width: 100%;
}