body
{
    background-color: rgb(1, 1, 88);
}

.lk,#tab
{
    display: flex;
    justify-content: center;
}
#qwer
{
    color: black;
}
#tyu,.mb-3
{
    display: flex;
    flex-direction: column;
}
#io
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
#fgh
{
    display: flex;
    justify-content: center;
}
table,th,td,thead,tbody,tr
{
    border: 5px solid;
    border-color: black;
    color:black;
    font-size: medium;
}
#mn
{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: white;
    border-radius: 35px;
}
#run
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#after_run{
    display: flex;
    flex: 0 0 100%;
    flex-direction: row;
    justify-content: center;
    background-color: lightgreen;
}